/Temp
/140705_AnglyDady-csharp.v11.suo
/UnityVS.AnglyDady.CSharp.csproj
/UnityVS.AnglyDady.CSharp.Editor.csproj
/UnityVS.AnglyDady.sln
/UnityVS.AnglyDady.v12.suo
/Library
/obj/Debug/Assembly-CSharp.dll
/obj/Debug/Assembly-CSharp.pdb
/obj/Debug/DesignTimeResolveAssemblyReferencesInput.cache
/obj/Debug/UnityVS.AnglyDady.CSharp.csproj.FileListAbsolute.txt
/obj/Debug/UnityVS.AnglyDady.CSharp.csprojResolveAssemblyReference.cache
/privatekey.ppk
/publickey
